
<div id="home-page" class="index-section home-section {% if section.settings.home-page-bg %} mainbg {% endif %}">
	<div class="home-page-joined">
		{% for block in section.blocks %}
			<div class=" wrapper">
				<div class="medium-down--one-whole">
					<div id="frTable" class="large--display-table">
						<div id="frontopague" class="large--display-table-cell">
							{% unless block.settings.home-featured-title == blank %}
								<h3>{{ block.settings.home-featured-title | escape }}</h3>
							{% endunless %}
							{% unless block.settings.home-featured-content == blank %}
								{{ block.settings.home-featured-content }}
						  	{% endunless %}
							{% unless block.settings.home-featured-btn-label == blank %}
								<a id="frBtn" class="btn btn--small btn--light" href="{{ block.settings.home-featured-btn-url }}">{{ block.settings.home-featured-btn-label | escape }}</a>
							{% endunless %}

						</div>
					</div>
				</div>
			</div>
		{% endfor %}
	</div>
</div>

{% schema %}
	{
		"name": "Splash with Text",
		"blocks": [
			{
				"type": "text",
				"name": "Text",
				"settings": [
										{
						"type": "text",
						"id": "home-featured-title",
						"label": "Heading",
						"default": "Talk about your brand"
					},
					{
						"type": "richtext",
						"id": "home-featured-content",
						"label": "Text",
						"default": "<p>Use this text to share information about your brand with your customers. <b>Describe a product, share announcements, or welcome customers to your store.</b></p>"
					},
					{
						"type": "text",
						"id": "home-featured-btn-label",
						"label": "Button label"
					},
					{
						"type": "url",
						"id": "home-featured-btn-url",
						"label": "Button link"
					}
				]
			}
		],
		"presets": [
			{
				"name": "Image and text",
				"category": "Text",
				"blocks": [
					{
						"type": "text"
					}
				]
			}
		]
	}
{% endschema %}
